<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/index.js"></script>    
    <link rel="shortcut icon" href="../static/favicon (2).ico" type="image/x-icon" />
    <title>Mudança de Humor</title>

</head>
<body class="centro" background="../static/Fundo.humor.jpg" > 
   
    
    <div class="decoracao">    
         <img id="imagem" src="" alt="Jiraiya "/>
         <p id="paragrafo"> </p>    
        
           


        <div id="botao">

            <p> MUDE O HUMOR </p>
        </div>   
    </div> 
          
           
         
</body>
</html>